.title { 
  font-family: 'Roboto', sans-serif;
}

.field.has-addons{
  display: flex;
  justify-content: center;
  margin-bottom: 350px;
}

.drinkard {
  font-size: 55px;
  color:rgb(35, 38, 182)
}
.fade-in {
  // margin-top: 25px;
  // font-size: 21px;
  text-align: center;
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}



