* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero {
  background-image: url("https://mocah.org/uploads/posts/577889-cocktail-4k.jpg");
  background-size: cover;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.drinkard {
  font-size: 60px;
  background: -webkit-gradient(linear, right top, left top, color-stop(10%, #000), color-stop(30%, #bada55), color-stop(70%, #bada44), color-stop(80%, #000));
  background: linear-gradient(to left, #000 10%, #bada55 30%, #bada44 70%, #000 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  -webkit-animation: textShine 45s ease-in-out infinite alternate;
          animation: textShine 45s ease-in-out infinite alternate;
}

@-webkit-keyframes textShine {
  to {
    background-position: 100%;
  }
}

@keyframes textShine {
  to {
    background-position: 100%;
  }
}

.welcome-text {
  will-change: transform;
  -webkit-transition: -webkit-transform 630ms;
  transition: -webkit-transform 630ms;
  transition: transform 630ms;
  transition: transform 630ms, -webkit-transform 630ms;
}

.welcome-text:hover {
  will-change: transform 250ms;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.cocktail-image {
  margin-top: 20px;
  will-change: transform;
  -webkit-transition: -webkit-transform 430ms;
  transition: -webkit-transform 430ms;
  transition: transform 430ms;
  transition: transform 430ms, -webkit-transform 430ms;
}

.cocktail-image:hover {
  will-change: transform 120ms;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.image-size {
  width: 20px;
  height: 20px;
}

.box-color {
  background-color: red;
}

.fade-in {
  text-align: center;
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  /* Firefox */
  -webkit-animation: fadein 5s;
  /* Safari and Chrome */
  -o-animation: fadein 5s;
  /* Opera */
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  margin: auto;
}

.container-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.navbar {
  height: 10%;
}

.navbar-item {
  margin-right: 20px;
}

.icon-text {
  margin-top: 5px;
}

div.container {
  margin-bottom: 30%;
}

.navbar {
  border-radius: 2px;
  background: linear-gradient(12deg, #99eb81, lightblue, #f1d884, lime);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 49s ease infinite;
  animation: AnimationName 49s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 65%;
  }
  50% {
    background-position: 100% 36%;
  }
  100% {
    background-position: 0% 65%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 65%;
  }
  50% {
    background-position: 100% 36%;
  }
  100% {
    background-position: 0% 65%;
  }
}
/*# sourceMappingURL=main.css.map */