// .title { 
//   font-family: 'Roboto', sans-serif;
// }

.hero{
  background-image: url('https://i.pinimg.com/originals/fb/a8/78/fba8781b0d7f4ce8db50e9d3bc69fd8f.jpg');
  // background-repeat: no-repeat;
  // object-fit: fill;
  background-size: cover;
}

.field{
  display: flex;
  justify-content: center;
  // margin-bottom: 350px;
  // margin-left:40%;
}

.drinkard {
  font-size: 60px;
  color:rgb(35, 38, 182)
}

.fade-in {
  // margin-top: 25px;
  // font-size: 21px;
  text-align: center;
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  // }
}
}

.title{
  margin-right: 50%;
}

.container-navbar{
  display: flex;
  justify-content: center;

}



